<h2>Course npList</h2>
<table class="table table-striped">
    <thead>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Code</th>
        <th>Rating</th>
        <th>Options</th>
    </thead>
    <tbody>
        <!--Iteração no Angular:-->
        <tr *ngFor="let course of courses">
            <!--Tag precisa estar entre colchetes para definir que é uma variável   -->
            <th><img [src]="course.imageUrl" width=40.5px height=40.5px></th>
            <th>{{ course.name }}</th>
            <th>{{ course.price }}</th>
            <th>{{ course.code }}</th>
            <th>
                <app-star [rating]="course.rating"></app-star>
            </th>
            <th></th>
        </tr>
    </tbody>
</table>